/* fonts */
@font-face {
    font-family: 'denseregular';
    src: url('fonts/dense-regular-webfont.woff2') format('woff2'),
         url('fonts/dense-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'blenda_scriptregular';
    src: url('fonts/blenda_script-webfont.woff2') format('woff2'),
         url('fonts/blenda_script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.w70{width: 70%}
.m0auto{margin: 0 auto}
.block{display: block}
body{background: url(../img/back.jpg) repeat-x #f097d1;  font-family: 'denseregular' !important; }
#botones_registro{float: left; width: 100%}
#botones_registro li{margin: 20px 0;}
#botones_registro li a{padding: 10px 0;width: 100%; background: url(../img/back-boton.jpg) repeat-y top; display: block;color: #fff; text-align: center; text-decoration: none; font-size: 25px}
#header{background:#796f8e; padding-top: 30px;}
.atras img{width: 70px;margin-left: 20px;}
#header_registro{width: 100%;background: url(../img/back-boton.jpg) repeat-y top; display: block; height:70px; margin-top: 80px; float: left; position: relative}
#header_registro img{margin-top: -20px;position: absolute;left: 50%;margin-left: -35%;}
#header_registro2{width: 100%;background: url(../img/back-boton.jpg) repeat-y top; display: block; height:70px; margin-top: 0 !important; float: left; position: relative}
#header_registro2 img{margin-top: -10px;position: absolute;left: 50%;margin-left: -35%;}
#formregistro{color: #fff; font-size: 24px; margin-top: 50px}
#formregistro label{display: block; float: left; width: 140px; text-align: right; margin-right: 10px;text-shadow: 1px 1px #000;}
#formregistro input{border: 1px solid #854c92; width: 145px; height: 25px; font-size: 18px}
#formregistro input[type=text]{background: url(../img/pixel.png);color: #854c92}
#formregistro input[type=email]{background: url(../img/pixel.png);color: #854c92}
#formregistro input[type=password]{background: url(../img/pixel.png);color: #854c92}
#formregistro p{margin-bottom: 15px}
#formmedico{color: #fff; font-size: 24px; margin-top: 50px}
#formmedico label{display: block; float: left; width: 140px; text-align: right; margin-right: 10px;text-shadow: 1px 1px #000;}
#formmedico input{border: 1px solid #854c92; width: 145px; height: 25px; font-size: 18px}
#formmedico input[type=text]{background: url(../img/pixel.png);color: #854c92}
#formmedico input[type=password]{background: url(../img/pixel.png);color: #854c92}
#formmedico p{margin-bottom: 15px}
.boton_guardar{float: left; width: 100%;background: url(../img/back-boton.jpg) repeat-y top; display: block;color: #fff; text-align: center; text-decoration: none; font-size: 25px;padding: 10px 0;}
#menu{width: 100%}
#menu li p{text-align: center; margin-bottom: 15px}
#menu li p a img{height: 60px}
#menu li p a{color: #fff; text-decoration: none; font-size: 25px}
#menu li p a span{text-align: center;background: url(../img/back-boton.jpg) top center;padding: 10px 0;margin-top: 5px;display: block;}
.atras{color: #fff;}
.tar{text-align: right;}
.tac{text-align: right;}
.enviar{padding: 10px;background: url(../img/back-boton.jpg) repeat-y top; color: #fff; text-align: center; text-decoration: none; font-size: 25px}
.noticia{width: 98%;padding: 1%;background: #fff;}
.imgnoticia{width: 100%;float: left;}
.imgnoticia img{width: 100%}
.previonoticia{width: 98%;float: left;background: #fff;padding: 1% 3%;}
#contenidonoticia{width: 101%;background: #fff;position: absolute;top: 70px;}
#contenedornoticias{padding-top: 10px;float: left;background: #fff;width: 100%;}
.previonoticia h2{color: #08C;font-family: 'EB Garamond', serif; font-size: 24px}
.extractonoticia{font-family: 'EB Garamond', serif; color: #161515}
.contenidoescondido{display: none}
#contenidonoticia h1{color: #08C;font-family: 'EB Garamond', serif; font-size: 24px;padding: 10px;}
.contenidointerior{font-family: 'EB Garamond', serif; color: #161515;    width: 94%;padding: 3%; line-height: normal}
.contenidointerior img{width: 100%}
.portadainterior{width: 100%}
.portadainterior img{width: 94%;padding: 3%;margin: 20px 0;}
.mostrarnota{color: #08C; text-decoration: none}
strong{color: #08C}
#layermensaje{width: 101%; height: 100%; background: url(../img/pixel.png); position: fixed;top: 0; left: 0; display: none; z-index: 4}
#mensajes{width: 260px; height: 145px; position: absolute; left: 50%; margin-left: -150px; top: 50%; margin-top: -102px; background: url(../img/backmensaje.png);  font-family: 'blenda_scriptregular'; color: #fff; padding-top: 60px; padding-left: 20px; padding-right: 20px;    font-size: 30px;text-align: center;}
a#cerrarmensajes {color: #fff;top: 5px;right: 5px;position: absolute;}
.titulo_nota{font-family: sans-serif;    float: left;display: block;width: 230px;}
.fecha_nota{font-family: sans-serif;float: left;}.en{float: left;color: #fff;font-size: 24px;margin-left: 10px;margin-top: -4px;margin-bottom: -7px;}
.bn{float: left;color: #fff;font-size: 24px;margin-left: 10px;margin-top: -4px;margin-bottom: -7px;}
#footer{background: #796f8e;}
#footer a{color: #fff}
#layerformulario{background: url(../img/pixelmorado.png); position: absolute; top: 0; left: 0; z-index: 2;    width: 100%;height: 100%; display: none}
.contenedorformulario{width: 90%;margin: 0 auto;margin-top: 140px;}
.contenedorformulario input[type=text]{background: #fff;border: 1px solid #854c92;}
.contenedorformulario textarea{border: 1px solid #854c92;height: 150px !important;}
.contenedorformulario p.tituloformulario{    font-family: sans-serif;font-size: 24px;color: #854c92;margin-bottom: 10px;}
.tituloformulario{font-family: sans-serif; font-size: 24px;text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);}
.contenedorformulario input[type=submit]{background: #854c92;color: #fff!important;border: 1px solid;}
#cerrarformulario{color: #fff;position: absolute;right: 5px;font-size: 28px;}
#cerrarformulario2{color: #fff;position: absolute;right: 5px;font-size: 28px;}
.contenidonota{display: none !important;}
.ui-select{background: #fff;width: 96%; padding: 0 2%}
#menumes li{width: 30%; float: left;  margin: 1% 1.6%; position: relative;}
#menumes li a img{width: 100%}
.notificacion{width: 13px;height: 10px;background: #dc382f;color: #fff;text-align: center;font-size: 12px;position: absolute;top: -8px;right: -10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;padding-top: 4px;opacity: 0.8;}
.notificacion2{width: 13px;height: 10px;color: #fff;text-align: center;font-size: 12px;position: absolute;top: -8px;right: -10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;padding-top: 4px;opacity: 0.8;}
#contformagregarevento{position: absolute;z-index: 2;background: url(../img/pixelmorado.png);width: 100%;height: 100%;top: 0;left: 0;padding-top: 140px;display: none}
#formagregarevento{font-family: sans-serif; width: 90%;margin: 0 auto;}
.ui-btn.ui-input-btn.ui-corner-all.ui-shadow{color:#fff;}
.tituloformulario{color: #854c92; margin-bottom: 10px}
#guardarevento{background: #796f8e}
#eliminarevento{background: red}
#eliminarnota{background: red}
#eliminaralarma{background: red}
.clndr-table{font-family: sans-serif;}
.tr.header-days {background: #ad65a1;color: #fff;}
table.clndr-table {width: 100%;margin: 20px auto;color: #fff;}
table.clndr-table tr td{text-align: center;padding: 10px 0;border: 1px solid;}
tr.header-days {background: #ad64a1;}
.clndr-controls {font-family: sans-serif;}
.month{float: left;width: 60%;background: #796F8E;color: #fff;text-align: center;padding: 10px 0;float: left;}
.event {position: relative;}
.clndr-control-button{width: 20%;background: #796F8E;color: #fff;text-align: center;padding: 10px 0;float: left;}
.event::after {content: "";display: inline-block;cursor: pointer;width: 10px;height: 10px;background-repeat: no-repeat;background: #dc382f;position: absolute;top: 2px;right: 2px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
#listaeventos{font-family: sans-serif;}
a.evento{width: 100%; padding: 0 !important;color: #fff;border-color: #fff;}
.evento img{margin: 8px;float: left;}
.evento span{margin-top: 17px;display: block;}
a.alarma{width: 100%; padding: 0 !important;color: #fff;border-color: #fff;}
.alarma img{margin: 8px;float: left;}
.alarma span{margin-top: 17px;display: block;}
a.nota{width: 100%; padding: 0 !important;}
.nota img{margin: 8px;float: left;}
.nota span{margin-top: 17px;display: block;}
.nota{color: #fff;border-color: #fff;}
a.atras {margin-top: 20px !important;}
.today{background:#796f8e}
input.selectorfecha {width: 100px;float: left;margin: 12px;}
.diaseleccionado{background: #ad64a1}
.selectorhora{width: 30%;float: left;}
#agregaralarma{font-family: sans-serif;}
.clear{clear: both}
.switchable-wrapper{float: left;margin-left: 10px;}
#informacionalarma span{font-family: sans-serif;color: #fff;margin-top: 12px;position: absolute;}
#redes{position: absolute;right: 5px;top: 20px;}
#redes li{float: left; margin: 0 5px}
#redes li a img{width: 32px;}
#insideloading{color:#fff; font-family: sans-serif;}
.tac{text-align: center}
#loading{background: url(../img/pixelmorado.png); position: fixed; width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 9999999; display: none}
#loading img{width: 60px; }
#insideloading {width: 100px;text-align: center;height: 90px;position: absolute;top: 50%;margin-top: -45px;left: 50%;margin-left: -50px;}
@media only screen and (min-width: 961px) and (max-width: 1200px) {

}
@media only screen and (min-width: 769px) and (max-width: 960px) {

}
@media only screen and (min-width: 421px) and (max-width: 768px) {

}
@media only screen and (max-width: 420px) {

}